html, body {
	padding:0;
	margin:0;
	border:0;
	background-color:#EEEEEE;
}
p {
	color:#fff;
}
a:hover {
	color:#428bca;
	text-decoration:none;
}
hr {
	width:90%;
	float:center;
	height:1px;
	border:0;
	color:#333;
	background-color:#333;
	opacity:0.5;
}
#header {
	height:10%;
	width:100%;
	top:0;
	position:absolute;
	background-color:#192C3B;
	opacity:1;
	z-index:1111;
}
.headerObjects {
	width:auto;
	top:0;
	position:absolute;
	margin-top:30px;
	margin-bottom:30px;
	padding:5px;
}
.headerObjects2 {
	width:auto;
	top:0;
	position:absolute;
	margin-left:25px;
	margin-top:25px;
	margin-bottom:20px;
	padding:5px;
}
#leftHeaderObject {
	left:0;
	margin-left:50px;
	color:#fff;
}
#middleHeaderObject {
	margin-left:45%;
	margin-right:45%;
	text-align:center;
	color:#fff;
}
#rightHeaderObject {
	right:0;
	margin-right:50px;
	color:#fff;
}
#sideNav {
	width:20%;
	height:90%;
	left:0;
	bottom:0;
	float:left;
	position:absolute;
	background-color:#fff;
}
#sideNavTitle {
	color:#192C3B;
	margin-left:10px;
}
#sideNavSub {
	width:100%;
	color:#192C3B;
	padding-left:50px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#E8E9EB;
}
#sideNavSub:hover {
	cursor:pointer;
}
#sideNavAdd {
	color:#79BDB4;
}
#mainPageNav {
	width:80%;
	height:10%;
	right:0;
	float:right;
	margin-top:5%;
	opacity:1;
	z-index:1000;
	position:absolute;
	background-color:#F7F7F7;
}
#mainPage {
	width:80%;
	height:90%;
	right:0;
	bottom:0;
	float:right;
	position:absolute;
	background-color:#EEEEEE;
}
#folderName {
	top:0;
	margin-top:20px;
	position:absolute;
}
#currentDirectoryBox {
	height:100%;
	width:20%;
}
#currentDirectory {
	display:inline-flex;
	position:absolute;
	margin-left:30px;
}
#directoryOptions {
	position:absolute;
	float:left;
	left:0;
	top:0;
	margin-top:35px;
	left:25%;
}
#directoryDownload {
	position:absolute;
	float:right;
	right:0;
	top:0;
	margin-top:35px;
	right:40%;
}
#directoryShare {
	position:absolute;
	float:right;
	right:0;
	top:0;
	margin-top:35px;
	right:10%;
}
#folderTbl {
	width:100%;
	height:auto;
	margin-left:20px;
	outline:none;
}
#userFolders {
	width:100%;
	height:auto;
	left:0;
	float:left;
	outline:none;
}
.userFolders {
	width:100%;
	height:auto;
	left:0;
	float:left;
	outline:none;
	color:red;
	margin-top:10px;
	margin-bottom:10px;
	font-size:1.5em;
	display:flex;
}
#userFolderIcon {
	color:#79BDB4;
	outline:none;
	margin-right:15px;
	z-index:2000;
}
.userFolderIcon {
	color:#79BDB4;
	outline:none;
	margin-right:15px;
	z-index:2000;
}
#userFolderEdit {
	color:#79BDB4;
	outline:none;
	float:right;
	right:0;
	margin-right:25px;
}
#userFolderDelete {
	color:#79BDB4;
	outline:none;
	float:right;
	right:0;
	margin-right:35px;
}
#demo {
	position:absolute;
}
#emptyDemo {
	width:80%;
	height:50%;
	margin-left:10%;
	margin-top:2%;
	outline:none;
	border:none;
	font-size:25px;
	padding:20px;
}
#saveDetails {
	width:39%;
	height:10%;
	margin-left:10%;
	margin-top:1.5%;
	outline:none;
	border:none;
	font-size:45px;
	background-color:#33E885;
	color:#fff;
}
#saveDetails:hover {
	transform:scale(1.03);
}
#saveAlertSuccess {
	display:none;
	margin-left:10%;
	width:80%;
}
#saveAlertFailure {
	display:none;
	margin-left:10%;
	width:80%;
}
#downloadDetails {
	width:39%;
	height:10%;
	margin-left:1.7%;
	margin-top:3%;
	outline:none;
	border:none;
	font-size:45px;
	background-color:#33B3DC;
	color:#fff;
}
#downloadLink {
	width:80%;
	margin-left:10%;
	margin-top:0;
	outline:none;
	border:none;
	padding:3px;
	background-color:#DC8F33;
	color:#fff;
	display:none;
	font-size:45px;
}
.folders {
	z-index:3000;
	outline:none;
}
.folders:hover {
	background-color:#E8E9EB;
	outline:none;
	cursor:pointer;
}
#searchFolders {
	margin-left:10px;
}
#searchFoldersBtn:hover {
	cursor:pointer;
}
#folderSearcher {
	padding-right:10px;
}
.login_box{
    background:#f7f7f7;
    border:3px solid #F4F4F4;
    padding-left:15px;
    margin-bottom:25px;
}
.input_title {
    color:#000;
    padding-left:3px;
    margin-bottom:2px;
}
hr {
    width:100%;
}  
.welcome {
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 100;
    color:#43A6EB;
    margin-bottom:25px;
    margin-top:50px;
}
#formReset {
	width:auto;
	display:inline-block;
	background-color:#D9534F;
}
#userReset {
	width:59%;
	display:inline-block;
	float:right;
	background-color:#5CB85C;
}
#userForgot {
	color:#000;
}
#userLogin:hover {
	cursor:pointer;
}
#userReset:hover, #formReset:hover {
	cursor:pointer;
	transform:scale(1.03);
}
#userReset:disabled {
	cursor:not-allowed;
	background-color:grey;
	border-color:#4D4D4D;
}
.login_title{
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 100;
    color:#43A6EB;
}
.card-container.card {
    max-width: 350px;
}
.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    border-radius:0;
    background:#43A6EB;
    height: 55px;
    margin-bottom:10px;
}
/*
 * Card component
 */
.card {
    background-color: #FFFFFF;
    /* just in case there no content*/
    padding: 1px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 15%x;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputUsername, #inputEmail1, #inputEmail2,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;

    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

#remember {
	padding-left:3px;
}
#remember:hover {
	background-color:#ddd;
}
#returnLogin {
	padding-left:3px;
	outline:none;
	color:#000;
}
#returnLogin:hover {
	background-color:#ddd;
	color:#000;
}
#returnLogin:focus, #returnLogin:active {
	outline:none;
	color:#000;
	background-color:#ddd;
	z-index:1000;
}

.forgot-password {
    color:rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

#background {
	position:fixed;
	left:0;
	top:0;
	background-size:100%;
	width:100%;
	height:100%;
	-webkit-user-select:none;
	-khtml-user-select:none; 
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none; 
    z-index:9990; 
}

#wrong1, #wrong2 {
	display:none;
	color:red;
}
#correct1, #correct2 {
	display:none;
	color:green;
}
#incorrectEmail {
	display:none;
	position:absolute;
}
#correctEmail {
	display:none;
	position:absolute;
}
#newFolder {
	padding-left:10px;
}
.renameFolder {
	outline:none;
	height:auto;
	width:auto;
	border-radius:5px;
	right:0;
	margin-right:45px;
	position:absolute;
}
.renameFolder:hover, .renameFolder:active, .renameFolder:focus {
	outline:none;
	cursor:pointer;
}
.deleteFolder {
	outline:none;
	height:auto;
	width:auto;
	border-radius:5px;
	right:0;
	position:absolute;
}
.deleteFolder:hover, .deleteFolder:active, .deleteFolder:focus {
	outline:none;
	cursor:pointer;
}